
<div class="container">

    <h2>Foto detalle</h2>
    <div class="row  align-items-center py-3">
        <div class="col-2 left">
            <img src="..\..\assets\left.png" style="width:100px; ">
        </div>
        <div class="col-8">
            <img src="..\..\assets\car.jpg" style="width:700px; ">

            <div class="row mt-2">
                <div class="col-4 "></div>
                <div class="col-4 ">25/10/20211</div>
                <div class="col-4 t">22:00</div>

            </div>

        </div>
        <div class="col-2 right">
            <img src="..\..\assets\right.png" style="width:100px; ">
        </div>
        
    </div>

    <!--div class="row">
        <div class="col-1">

        </div>
        <div class="col-1 left mb-3">
            <a [routerLink]="'/opcommercialdetail'"> <mat-icon class="green">room</mat-icon></a>
        </div>
        <div class="col-8">
            
        </div>
        <div class="col-1 right mb-3">
            <a [routerLink]="'/opcommercialdetail'"> <mat-icon class="green">delete_forever</mat-icon></a>
        </div>
        <div class="col-1">

        </div>

    </div-->

        

    <div class="row mt-1 ml-2">
        <div class="col-sm-3">
           <h4><b>Daños</b></h4>
        </div>
      </div> 
      <div class="row mb-3 ml-2">
        <div class="col-12">
          <div class="fondoTexto">   
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus, velit euismod auctor tristique, magna ex varius dui, at convallis sem arcu pretium augue. Sed gravida, leo non porta volutpat, erat risus porttitor velit, et ullamcorper leo lectus in mauris. Maecenas rutrum iaculis dui et tempus. Quisque sagittis justo a nibh dignissim, quis pulvinar magna gravida. Maecenas sodales nunc sit amet hendrerit malesuada. Nam fringilla elit quis bibendum placerat. Sed ultricies mauris est, id aliquam ante efficitur quis. Praesent pharetra, justo id suscipit viverra, felis dui condimentum neque, ac ultricies mi urna sit amet urn
          </div>
        </div>
      </div>

</div>

<div class="container" my-5>footer</div>



