<mat-nav-list mt-5>
   <a mat-list-item [routerLink]="'/'"> <img src="..\..\assets\logo_focus.png" style="width:150px;margin-top:60px;;"> </a>
   <a mat-list-item [routerLink]="'/operation'" style="margin-top:60px;"><span class="material-icons">assessment</span>&nbsp; Operaciones </a>
   <a mat-list-item [routerLink]="'/inspector'"><span class="material-icons">supervisor_account</span>&nbsp; Inspectores </a>
   <a mat-list-item [routerLink]="'/car'"><span class="material-icons">directions_car</span>&nbsp; Vehículos </a>
   <a mat-list-item [routerLink]="'/custom'"><span class="material-icons">business</span>&nbsp; Clientes</a>
   <a mat-list-item [routerLink]="'/carrier'"><span class="material-icons">airport_shuttle</span>&nbsp; Transportistas </a>
   <a mat-list-item [routerLink]="'/users'"><span class="material-icons">person</span>&nbsp; Usuarios </a>
</mat-nav-list>
